@model IEnumerable<TaskModel>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="NovaTarefa" class="btn btn-success">Nova tarefa</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.IsCompleted)
                {
                     @Html.Raw("Tarefa concluída")
                }
                else
                {
                    @Html.Raw("Não concluída")
                }
            </td>
                <td class="d-flex">
                <a asp-action="EditarTarefa" asp-route-Id="@item.Id" class="btn btn-primary">Editar</a> |

                <form asp-action="DeletarTarefa" asp-route-Id="@item.Id">
                     <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>

